<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>Sign_UP_Backend</servlet-name>
        <servlet-class>Sign_UP_Backend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log_IN_Backend</servlet-name>
        <servlet-class>Log_IN_Backend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log_IN</servlet-name>
        <servlet-class>Log_IN</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UI_Welcome</servlet-name>
        <servlet-class>UI_Welcome</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>NewServlet</servlet-name>
        <servlet-class>NewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>auto</servlet-name>
        <servlet-class>auto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UI_Welcome_Backend</servlet-name>
        <servlet-class>UI_Welcome_Backend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disp_image</servlet-name>
        <servlet-class>disp_image</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>disp_img_backend</servlet-name>
        <servlet-class>disp_img_backend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Generate_PDF</servlet-name>
        <servlet-class>ReportServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Create_PDF</servlet-name>
        <servlet-class>Create_PDF</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>temppdf</servlet-name>
        <servlet-class>temppdf</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Add_Question_Backend</servlet-name>
        <servlet-class>Add_Question_Backend</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>temp</servlet-name>
        <servlet-class>temp</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Log_Out</servlet-name>
        <servlet-class>Log_Out</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>Sign_UP_Backend</servlet-name>
        <url-pattern>/Sign_UP_Backend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log_IN_Backend</servlet-name>
        <url-pattern>/Log_IN_Backend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log_IN</servlet-name>
        <url-pattern>/Log_IN</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UI_Welcome</servlet-name>
        <url-pattern>/UI_Welcome</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>NewServlet</servlet-name>
        <url-pattern>/NewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>auto</servlet-name>
        <url-pattern>/auto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UI_Welcome_Backend</servlet-name>
        <url-pattern>/UI_Welcome_Backend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disp_image</servlet-name>
        <url-pattern>/disp_image</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>disp_img_backend</servlet-name>
        <url-pattern>/disp_img_backend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Generate_PDF</servlet-name>
        <url-pattern>/Generate_PDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Create_PDF</servlet-name>
        <url-pattern>/Create_PDF</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>temppdf</servlet-name>
        <url-pattern>/temppdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Add_Question_Backend</servlet-name>
        <url-pattern>/Add_Question_Backend</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>temp</servlet-name>
        <url-pattern>/temp</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Log_Out</servlet-name>
        <url-pattern>/Log_Out</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>Log_IN</welcome-file>
    </welcome-file-list>
    <display-name>
        Craft THE Exam
    </display-name>
</web-app>
